#canvas {
  cursor: pointer;
  border-radius: var(--canvas-bord-radius);
  box-shadow: 0 0 1.5rem var(--bg-shadow);
  margin: 1.5rem auto 0 auto;
  width: 90vw;
  height: 75vh;
  display: grid;
  justify-content: center;
  align-content: flex-start;
  grid-template-columns: repeat(var(--squares-per-row), var(--square-size));
  transition: 200ms opacity ease;
}

#canvas.brush {
  cursor: url('../img/brush.png'), pointer;
}

#canvas.eraser {
  cursor: url('../img/eraser.png'), pointer;
}

#canvas:focus {
  /* to avoid issue caused by border-radius 
  ** being rendered different from inner square's border-radius
  ** leading to canvas border overlapping inner squares */
  outline: none;
}

.top-left {
  border-top-left-radius: var(--canvas-bord-radius);
}

.top-right {
  border-top-right-radius: var(--canvas-bord-radius);
}

.bottom-left {
  border-bottom-left-radius: var(--canvas-bord-radius);
}

.bottom-right {
  border-bottom-right-radius: var(--canvas-bord-radius);
}

.pixel {
  background-color: #fff;
  width: var(--square-size);
  height: var(--square-size);
  border: var(--square-border-w) solid hsla(0, 2%, 95%, 0.7);
  transition: 40ms background-color ease;
}

.bg-black {
  background-color: rgb(0, 0, 0);
}

.random-bg {
  background-color: hsl(var(--h-value), 66%, 46%);
}

.darkening-bg,
.lighten-bg {
  background-color: hsl(var(--h-value), var(--s-value), var(--l-value));
}
